.App {
  background-image: radial-gradient(circle at 50% -20.71%, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.container-calculadora{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

  border-radius: 18px;
  width: 25%;
  height: 600px;
  
}

.container-calculadora-header-title{
 
  width: 359px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: end;
  box-sizing: border-box;
  color: black);
 
  

}
.container-calculadora-header-title h4{
  width: 355px;
  margin-right: 50px;
  margin-top: 30px;
 
}

.container-calculadora-header-title h1{
  width: 355px;
  margin-right: 50px;
  margin-top: 0px;
}

.container-calculadora-header-buttons{
  
  width: 359.9px;
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  
}

.container-calculadora-header-buttons button{
  width: 70px;
  height: 70px;
  margin: 1px;
  border: none;
  background-color: transparent;
  color: radial-gradient(circle at 50% -20.71%, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);
  font-size: 20px;
  font-weight: 800;
  

  
}

.signo-igual{
  width: 140px  !important;

}

.container-calculadora-header-buttons button:hover{
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

